In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import array
import dataframe_image as dfi

#1 load data fror file csv
df = pd.read_csv("../querys/crecimientoNicolasRomero.csv")

dataCodes = df['ID']
arrayCodes  = []
for Code in dataCodes:
  arrayCodes.append(Code)

dataNames = df['Nombre_de_la_Unidad_Económica']
arrayBussines = []
for type in dataNames:
  arrayBussines.append(type)

dataCollect = {
    'Code': arrayCodes,
    'nameBussines': arrayBussines
}

df = pd.DataFrame(dataCollect)
display(df)

          Code                                       nameBussines
0      9045956  CRIANZA ENGORDA Y COMERCIALIZADORA DE TRUCHAS ...
1      6170967                  DESARROLLO ECOTURISTICO 3 PIEDRAS
2      9017141                                      EL POLVORIN 2
3      8806146                     GRANJA DE TRUCHAS EL POLVORIN
4      9045955                GRANJA DE TRUCHAS RANCHO EL PARAISO
...        ...                                                ...
16238  2469215                  SUPERVISIÓN GENERAL DEL SECTOR 14
16239  8479519         SUPERVISION GENERAL SEXTO SECTOR EDUCATIVO
16240  2468528                            SUPERVISIÓN ISFIZ 0192B
16241  2402989                              TENENCIA DE LA TIERRA
16242  2468297                                   TRANSITO ESTATAL

[16243 rows x 2 columns]